body {
  background-color: black;
}
html {
  font-family: verdana, arial, sans-serif;
  color: white;
}

#cont {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  border: 3px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}
#canvascontainer {
  text-align: center;
}

#leveltag {
  font-weight: 600;
  font-size: 20px;
  color: magenta;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 33%;
}
#timetag {
  font-weight: 600;
  font-size: 20px;
  color: magenta;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 33%;
}
#healthtag {
  font-weight: 600;
  font-size: 20px;
  color: magenta;
  text-align: right;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 34%;
}
#info1 {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.wide {
  width: 512px;
  text-align: center;
  margin-bottom: 0px;
}

legend {
  font-weight: bold;
}

.game {
  float: left;
  width: 60%;
  padding: 10px;
}

.howto {
  float: left;
  width: 30%;
  padding: 10px;
  padding-top: 200px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
